<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.nextbillion.navigation.nb_navigation_flutter">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
</manifest>
